# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
.venv/
env/
venv/

# Azure Functions artifacts
.local.settings.json

# VSCode

# Others
*.env
.DS_Store
Thumbs.db

.python_packages